@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
ul {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
  font-size: 1.3rem;
  font-family: 'Tilt Warp', cursive;
  text-align: left;
}
