@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
button{
    background-color: rgb(63, 136, 219);
    color: white;
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    font-family: 'Roboto Slab', serif;
}